@model News
         
@{
  ViewBag.Title = "Dettaglio notizia";
}

<h2>Dettaglio notizia</h2>

<fieldset>
  <legend>News</legend>
  <div class="display-label">Title</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Title)
  </div>
  <div class="display-label">Body</div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Body)
  </div>
</fieldset>

<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>